*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;

}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
}
ul{
    color: white;
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}
.page1{
    width: 100%;
    height: 90vh;
    display: flex;
}
.box1{
    width: 50%;
    height: 100%;
    padding: 70px;
}
.box1 h1{
    font-weight: 400;
    font-size: 60px;
}
.box1 p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}
.box1 button{
    width: 224px;
    height: 54px;
    background-color: lightgreen;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.box2{
    width: 50%;
    height: 100%;
    background-image: url(./assest/index-background-desktop.png);
}
.page2{
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 50px;
    padding: 0px 150px;
}
.box3{
    width: 570px;
    height: 374px;
    background-color: lightgray;
    padding: 50px;
}
.df{
   display: flex;
}
.df h1{
    font-size: 36px;
    margin-left: 60px;
    margin-top: 30px;
}
.box3 p{
    font-size: 16px;
    margin-top: 50px;
}
.div{
    font-weight: 600;
    font-size: 60px;
    margin-left: 50px;
}
.box4{
    width: 570px;
    height: 374px;
    background-color: lightgray;
    padding: 50px;
}
.df{
   display: flex;
}
.df h1{
    font-size: 36px;
    margin-left: 60px;
    margin-top: 30px;
}
.box4 p{
    font-size: 16px;
    margin-top: 50px;
}
.anchor{
    font-size: 20px;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.page3{
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 60px;
    padding: 50px 0px;
}
.list{
    padding: 40px;
    background-image: url(./assest/1.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
}
.list:nth-child(2){
    padding: 40px;
    background-image: url(./assest/2.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
}
.list:nth-child(3){
    padding: 40px;
    background-image: url(./assest/3.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
}
.list:nth-child(4){
    padding: 40px;
    background-image: url(./assest/4.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
}
.page4{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: lightgray;
}
.disf{
    display: flex;
    gap: 30px;
}
.tedt{
    padding: 60px 40px;
}
.tedt p{
    font-weight: 400;
    font-size: 24px;
}
.page5{
    width: 100%;
    height: 85vh;
}
.karta{
    width: 100%;
    height: 100%;
}
.page6{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}